@media (max-width: 450px) {
  .hide-on-small {
    display: none;
  }
}
/* App.css or global CSS */
@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #e0e0e0 0%,
    #f8f8f8 50%,
    #e0e0e0 100%
  );
  background-size: 800px 100%;
  animation: shimmer 1.5s infinite linear;
}
